.detailsContainer {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.buttonGoBack {
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #221f1f;
  margin-bottom: 20px;
}

.buttonGoBack:hover,
.buttonGoBack:focus {
  color: black;
  background-color: whitesmoke;
}

.moviesCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moviesTitle {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.moviesDesc {
  width: 700px;
}

.subtitle {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.desc {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.detailsList {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.moviesLink {
  text-decoration: none;
  color: #221f1f;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 28px;
  border-bottom: 2px solid;
}

.moviesImg {
  display: block;

  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}
