.errorMessage {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.reviewsList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.nameAuthor {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.text {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.reviewDesc {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
}
