.movieList {
  display: flex;
  box-sizing: border-box;
  padding-left: 0;

  flex-wrap: wrap;
  gap: 30px;

  justify-content: center;
  align-content: center;
  list-style: none;
}

.movieLink {
  text-decoration: none;
}

.movieTitle {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.movieRating {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: overline;
}

.movieImg {
  display: block;

  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}
